<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
   <filter>
	   <filter-name>character</filter-name>
	   <filter-class>njust.filter.CharacterEncodingFilter</filter-class>
	   <init-param>
	       <param-name>encoding</param-name>
	       <param-value>GBK</param-value>
	   </init-param>
	</filter>	 
	<filter-mapping>
	   <filter-name>character</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>


<servlet>
    <servlet-name>FileLoadServelt</servlet-name>
    <servlet-class>njust.upload.FileLoadServelt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileLoad__</servlet-name>
    <servlet-class>njust.upload.FileLoad__</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Post</servlet-name>
    <servlet-class>njust.upload.Post</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>FileLoadServelt</servlet-name>
    <url-pattern>/e_doc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileLoad__</servlet-name>
    <url-pattern>/FileLoad__</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Post</servlet-name>
    <url-pattern>/Post.do</url-pattern>
  </servlet-mapping>
</web-app>
